*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

app/src/main/java/master/google/maps_practice/utils/Constant.kt
app/src/main/java/master/google/maps_practice/utils/TestStuff.kt

app/src/debug/res/values/google_maps_api.xml